html,
body {
  font-family: Arial, Helvetica, sans-serif;
  color: hsl(262, 12%, 30%);
}

* {
  box-sizing: border-box;
}
a {
  color: hsl(262, 52%, 47%);
}

a:visited {
  color: hsl(262, 47%, 63%);
}

.sharing {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.sharing > * {
  margin-right: 1rem;
}

.content {
  display: flex;
  flex-direction: column;

  max-width: 1024px;
  margin: 0 auto;
  padding: 1rem;
}

.code {
  padding: 1rem !important;
  border-radius: 2px;
}

.section {
  margin-bottom: 2rem;
}

.filters {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 1rem;
}

.IconHit {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 12rem;
  height: 10rem;
  margin-bottom: 2rem;
  cursor: pointer;
  border: 1px solid transparent;
}

.IconHit-icon {
  font-size: 4em;
  color: hsl(262, 52%, 47%);
  transition: all 0.5s ease;
  align-self: center;
}

.IconHit-name {
  margin-top: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
  font-weight: bold;
}

.IconHit-theme {
  text-align: center;
  font-size: 0.75rem;
  opacity: 0.8;
}

.IconHit:hover {
  border-color: hsl(262, 47%, 63%);
  border-radius: 2px;
}

.IconHit:hover > .IconHit-icon {
  color: hsl(262, 47%, 63%);
}

/* Algolia styles overrides */
/* SearchBox */
.ais-SearchBox-submit {
  left: 0.75rem;
}

.ais-SearchBox-reset {
  right: 0.75rem;
}

.ais-SearchBox-input {
  appearance: none;
  width: 100%;
  padding: 1rem 2.5rem;
  line-height: 2rem;
  font-size: 1.2rem;
  background-color: #fff;
  border: 1px solid hsl(262, 52%, 47%);
  outline-color: hsl(262, 52%, 47%);
  border-radius: 2px;
}

/* Results */
.ais-Hits {
  color: inherit;
}

.ais-Hits-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.ais-Hits-item {
  all: unset;
}

.ais-Highlight-highlighted {
  color: white;
  background: hsl(262, 52%, 47%);
}

/* Pagination */
.ais-Pagination-link {
  border-radius: 2px;
  border: none;
  font-size: 1.2rem;
}

.ais-Pagination-item--selected .ais-Pagination-link {
  color: #fff;
  background-color: hsl(262, 52%, 47%);
  border-color: hsl(262, 52%, 47%);
}

.ais-Pagination-link,
.ais-Pagination-link:focus,
.ais-Pagination-link:hover {
  color: hsl(262, 52%, 47%);
}

/* Menu */
.ais-Menu-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.ais-Menu-item {
  position: relative;
  cursor: pointer;
  border: 1px solid hsl(262, 52%, 47%);
  border-radius: 2px;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.ais-Menu-item:not(:last-child) {
  margin-right: 0.75rem;
}

.ais-Menu-item--selected {
  background: hsl(262, 52%, 47%);
  color: white;
  font-size: inherit;
}

.ais-Menu-link {
  color: inherit !important;
}

.ais-Menu-checkbox {
  position: absolute;
  opacity: 0;
}

.ais-Menu-count {
  all: unset;
  font-size: 0.75rem;
}

.ais-Menu-count::before {
  content: "(";
}
.ais-Menu-count::after {
  content: ")";
}

/* Toastify */
.Toastify__toast {
  padding: 1rem;
  background: hsl(262, 52%, 47%);
  color: white;
}

.Toastify__close-button {
  display: none;
}
